/* about */
/* entreprise */
.entreprise {
  text-align: center;

}

.entreprise p {
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 1.9em;
}

.entreprise-details {
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex: 1;
  gap: 20px;
}

.entreprise-details img {
  width: 50%;
  border-radius: 40px;
  height: 300px;
}

/* Team */
.team {

}

.team-container {
  display: grid;
  grid-template-columns: repeat(2,300px);
  grid-template-rows: repeat(3,500px);
  column-gap: 50px;
  row-gap: 50px;
  justify-content: center;
  align-content: center;
  place-items: center center;
}

.person {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(161, 201, 222);
  padding: 10px;
  padding-bottom: 20px;
}

.person:hover {
  transform: scale(1.1, 1.1);
}

.person-img {
  margin-bottom: 10px;

}
.team-container-general{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-bottom: 100px;
}


/* contact */
.contact-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 20px;
text-align: center;

}
.form,.contact-detail,.info{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  margin: 30px;
}
.form input,textarea{
  border: none;
padding: 10px;
width: 300px;
border-radius: 20px;
border-bottom: 1px solid gray;
}
.contact-detail-elem{
  display: flex;
  justify-content: center;
  align-items: center;
}

.details{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
iframe{
  margin: 30px;
  border-radius: 10px;
}

