/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  height: 50px;
}

.logo h2 a {
  color: black;
}

.logo h2 {
  margin-bottom: 0;
  letter-spacing: -2px;
}

.search-bar input {
  margin-right: 10px;
  border: none;
  padding: 8px;
  border-radius: 10px;
  border-bottom: 1px solid gray;
}

/* nav */

.nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  height: 30px;

}

.nav li a:hover {
  color: rgb(139, 139, 139);
}

/* vp */
.vp-container {
  height: 500px;
  text-align: center;
  background: url("../img/portrait-robot-scifi.jpg") center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vp {
  color: white;
  font-size: larger;
}

/* products */
.products {
  text-align: center;
  padding: 10rem 1rem;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.products-list {
  display: flex;
  flex: row nowrap;
  list-style: none;
  justify-content: space-between;
}

.product {
  margin: 1rem;
  background: white;
  border: 1px solid #ddd;
  flex: 1;
  background-color: #b6dfe3;
  border-radius: 20px;
}

.product-img {
  width: 100%;
  height: 170px;
}
.product h4{
  margin-top: 10px;
}
.product:hover{
transform: scale(1.2,1.2);
}
.products h2{
  letter-spacing: -2px;
}
/* achievements */
.achievements{
  margin-bottom: 20px;
}
.achievements h2,p,h4{
text-align: center;
}
.achievements h2{
  letter-spacing: -2px;
  font-weight: 900;
}
table {

  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #b6dfe3;
}